body{
    background-color: white;
    color: black;
}
nav,header,.contenedor,.central,footer{
    max-width: 92%;
    margin: auto;
}
nav {
    background-color: rgb(0, 111, 139);
    
}

header{
    background-color: rgb(0, 111, 139);  
    text-align: right; 
 }
.titulo{
    color: orange; 
    text-align: center;
}
.contenedor{
    background-color: white;
    
    }
    .tema1{
        background-color: white;
        text-align: center;
        }

.central{
    background-color:white;
    display: inline-block;
    max-width: 80%;
}
footer{
    background-color: rgb(0, 111, 139);
    color: white;
}
aside{
    background-color:lightblue;
    display: inline-block;
    max-width: 40%;
}
/*Menú*/
.menu li{
    display:inline-block ;
}
li a, boton{
    display: inline-block ;
    color: white;
    text-align: left;
    text-decoration: none;
    padding: 0.9em 1em;
}
.listaDesplegable{
    display: none;
    background-color: gainsboro;
    position: absolute;
}
.listaDesplegable a{
color: black;
display: block;
text-align: center;
}
.boton:hover .listaDesplegable{
    display: block;
}
li a:hover{
    background-color:gray;
}